<div id="container">
    <h1 id="H1">Iniciar sesión </h1>
    <h1 id="H1">Administrador</h1>
    <div class="card">
        <div id="form">
            <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="mail" id="mail">Mail</label>
                    <input type="email" name="mail" id="mail" formControlName="mail" required>
                </div>
                <div>
                    <label for="password" id="password">Contraseña</label>
                    <input type="password"  name="password" id="password" formControlName="password" required>
                </div>
                <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
            </form>
    </div>
</div>

<!--El admin se registra correctamente-->
<app-login-popup *ngIf="popup == 'success'" [type]="'Administrador'"></app-login-popup>

<!--Contraseña incorrecta-->
<app-error-popup *ngIf="popup == 'contraseñaIncorrecta'" text="Contraseña incorrecta" textAux="Por favor ingrese la contraseña nuevamente" [closePopup]="close.bind(this)"></app-error-popup>

<!--Credenciales no registradas-->
<app-error-popup *ngIf="popup == 'fail'" text="Credenciales incorrectas" textAux="Por favor verifique los datos" [closePopup]="close.bind(this)"></app-error-popup>
