:host {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 3px 5px 3px;
    align-items: flex-start;
    width: 100%;
}

label { 
    position: relative;
    margin: 0px 0px 0px 20px;
    padding: 0px 5px;
    
    background-color: #E4EFE9;
    font-weight: bold;
}

#container {
        width: fit-content;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#campos {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
}


  
/* Para pantallas de móviles (máximo 600px de ancho) */
@media (max-width: 600px) {
    #container {
        width: 70%;
    }
}