:host {
    width: 100%;
    position: relative;
    top: 25%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}  

/* Para pantallas de tabletas (mínimo 600px y máximo 1024px de ancho) */
@media (max-width: 1024px) {
    img {
        width: 65%;
    }
}
  
/* Para pantallas de móviles (máximo 600px de ancho) */
@media (max-width: 600px) {
    img {
        width: 80%;
        margin-top: 100px;
    }
}