<header *ngIf="validRoute && type == ''">
    <a routerLink="/"><img src="images/Logo.png" class="logo"></a>
    <app-button etiqueta="Iniciar sesión" buttonClass="navbarHome" link="/login"></app-button>
</header>

<!--Cliente-->
<header *ngIf="validRoute && (type == 'cliente')">
    <a routerLink="/"><img src="images/Logo.png" class="logo"></a>

    <ul>
        <li [class.active]="isActive('productos')">
            <a routerLink="/productos">
                <span *ngIf="!isMobile">Productos</span>
                <img *ngIf="isMobile && color == 'azul'" src="images/home azul.png">
                <img *ngIf="isMobile && color == 'blanco'" src="images/home blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile">|</li>
        <li [class.active]="isActive('promociones')">
            <a routerLink="/promociones">
                <span *ngIf="!isMobile">Promociones</span>
                <img *ngIf="isMobile && color == 'azul'" src="images/expensas azul.png">
                <img *ngIf="isMobile && color == 'blanco'" src="images/expensas blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile">|</li>
        <li [class.active]="isActive('favoritos')">
            <a routerLink="/favoritos">
                <span *ngIf="!isMobile">Favoritos</span>
                <img *ngIf="isMobile && color == 'azul'" src="images/pagar azul.png">
                <img *ngIf="isMobile && color == 'blanco'" src="images/pagar blanco.png">
            </a>
        </li>
    </ul>
    <div class="user-menu-container">
        <div class="user" (click)="toggleUserMenu()">
            <p *ngIf="!isMobile">{{name}}</p>
            <span class="dropdown-arrow">▼</span>
        </div>
        <div class="user-dropdown" *ngIf="showUserMenu">
            <div class="dropdown-item" (click)="goToProfile()">
                <span>Modificar perfil</span>
            </div>
            <div class="dropdown-item logout" (click)="logout()">
                <span>Cerrar sesión</span>
            </div>
        </div>
    </div>
</header>

<!--Administradores-->
<header *ngIf="validRoute && type == 'Administrador'">
    <a routerLink="/"><img src="images/Logo.png" class="logo"></a>
    <ul>
        <li [class.active]="isActive('productosAdministrador')">
            <a routerLink="/productosAdministrador">
                <span *ngIf="!isMobile">Productos</span>
                <img *ngIf="isMobile && color == 'azul'" src="images/home azul.png">
                <img *ngIf="isMobile && color == 'blanco'" src="images/home blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile">|</li>
        <li [class.active]="isActive('promocionesAdministrador')">
            <a routerLink="/promocionesAdministrador">
                <span *ngIf="!isMobile">Promociones</span>
                <img *ngIf="isMobile && color == 'azul'" src="images/expensas azul.png">
                <img *ngIf="isMobile && color == 'blanco'" src="images/expensas blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile">|</li>
        <li [class.active]="isActive('ventasAdministrador')">
            <a routerLink="/ventasAdministrador">
                <span *ngIf="!isMobile">Ventas</span>
                <img *ngIf="isMobile && color == 'azul'" src="images/contactos azul.png">
                <img *ngIf="isMobile && color == 'blanco'" src="images/contactos blanco.png">
            </a>
        </li>
    </ul>
    <div class="user-menu-container">
        <div class="user" (click)="toggleUserMenu()">
            <p *ngIf="!isMobile">{{name}}</p>
            <span class="dropdown-arrow">▼</span>
        </div>
        <div class="user-dropdown" *ngIf="showUserMenu">
            <div class="dropdown-item" (click)="goToProfile()">
                <span>Modificar perfil</span>
            </div>
            <div class="dropdown-item logout" (click)="logout()">
                <span>Cerrar sesión</span>
            </div>
        </div>
    </div>
</header>
