:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 71, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

div {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

p {
    color: #000447;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
}

button {
    width: 100%;
}

app-button {
    width: 100%;
}

app-button button {
    width: 100%;
}

#info{
    font-weight: normal;
    margin-top: 0px;
    font-size: 20px;
}

/* Para pantallas de tabletas (mínimo 600px y máximo 1024px de ancho) */
@media (max-width: 1024px) {
    p {
        font-size: 28px;
    }
    
    #info{
        font-size: 18px;
    }
}

/* Para pantallas de móviles (máximo 600px de ancho) */
@media (max-width: 600px) {
    p {
        font-size: 26px;
    }
    
    #info{
        font-size: 16px;
    }
}