:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 93, 143, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popup {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 51;
}

p {
    color: #285D8F;
    font-size: 40px;
    margin: 0px;
}

#bienvenido {
    font-weight: lighter;
    margin: 30px;
    font-size: 30px;
}

#tipo {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: -15px;
}

#access {
    font-weight: normal;
    font-size: 25px;
    margin: 30px;
}

#botones {
    display: flex;
    flex-direction: row;
}

#botones button {
    margin: 0px 5px;
}

app-button {
    margin-top: 30px;
}

/* Para pantallas de tabletas (mínimo 600px y máximo 1024px de ancho) */
@media (max-width: 1024px) {
    p {
        font-size: 36px;
    }
    
    #bienvenido {
        font-size: 28px;
    }
    
    #tipo {
        font-size: 28px;
        margin-bottom: 28px;
    }
    
    #access {
        font-weight: normal;
        font-size: 23px;
        margin: 28px;
    }
}

/* Para pantallas de móviles (máximo 600px de ancho) */
@media (max-width: 600px) {
    p {
        font-size: 34px;
    }

    #bienvenido {
        font-size: 26px;
    }
    
    #tipo {
        font-size: 26px;
        margin-bottom: 26px;
    }
    
    #access {
        font-weight: normal;
        font-size: 21px;
        margin: 26px;
    }

    #botones {
        flex-direction: column;
    }

    #botones button {
        margin: 5px 0px;
    }
}