* {
    display: flex;
    justify-content: center;
}

.navbarHome {
    font-size: 15px;
}

.register {
    background-color: #E4EFE9;
    color: #09008C;
    border: 3px solid #09008C;
}
    
.register:hover {
    background-color: #f7fbf9;
    border: 3px solid #09008C;
}
    
.register:active {
    background-color: #09008C;
    color: #E4EFE9;
    border: 3px solid #E4EFE9;
}