<div id="container">
    <h1>Registrar usuario</h1>
    <div class="card">
        <div id="form">
            <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div>
                    <div id="campos">
                        <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" id="error">
                            El nombre es obligatorio
                        </div>
                        <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
                        <label for="nombre" class="label">Nombres</label>
                    </div>
                    <div id="campos">
                        <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched" id="error">
                            El apellido es obligatorio
                        </div>
                        <input type="text" id="apellido" name="apellido" formControlName="apellido" required>
                        <label for="apellido" class="label">Apellidos</label>
                    </div>
                </div>
                <div>
                    <div id="campos">
                        <div *ngIf="registerForm.get('dni')?.invalid && registerForm.get('dni')?.touched" id="error">
                            El DNI es obligatorio
                        </div>
                        <input type="text" id="dni" name="dni" formControlName="dni" required>
                        <label for="dni" class="label">DNI</label>
                    </div>
                    <div id="campos">
                        <span *ngIf="(registerForm.get('mail')?.invalid && registerForm.get('mail')?.touched) || errorMessage == 'Mail no válido'" id="error">
                            <span *ngIf="registerForm.get('mail')?.hasError('required')">El correo electrónico es obligatorio</span>
                            <span *ngIf="registerForm.get('mail')?.hasError('email') || errorMessage == 'Mail no válido'">El correo electrónico no es válido</span>
                        </span>
                        <input type="email" id="mail" name="mail" formControlName="mail" required>
                        <label for="mail" class="label">Mail</label>
                    </div>
                </div>
                <div>
                    <div id="campos">
                        <div *ngIf="registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched" id="error">
                            <span *ngIf="registerForm.get('telefono')?.hasError('required')">El teléfono es obligatorio</span>
                            <span *ngIf="registerForm.get('telefono')?.hasError('pattern')">El teléfono no es válido</span>
                        </div>
                        <input type="tel" id="telefono" name="telefono" formControlName="telefono" required>
                        <label for="telefono" class="label">Teléfono</label>
                    </div>
                    <div id="campos">
                        <!-- Campo vacío para mantener el diseño de dos columnas -->
                    </div>
                </div>
                <div>
                    <div id="campos">

                        <div *ngIf="registerForm.get('password1')?.invalid && registerForm.get('password1')?.touched" id="error">
                            La contraseña es obligatoria
                        </div>
                        <input type="password" id="password1" name="password1" formControlName="password1" required>
                        <label for="password1" class="label">Contraseña</label>
                    </div>
                    <div id="campos">

                        <div *ngIf="registerForm.get('password2')?.invalid && registerForm.get('password2')?.touched" id="error">
                            La contraseña es obligatoria
                        </div>
                        <input type="password" id="password2" name="password2" formControlName="password2" required>
                        <label for="password2" class="label">Repita contraseña</label>
                    </div>
                </div>
                <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
            </form>
        </div>
    </div>
</div>
<app-button etiqueta="Volver al inicio" link="/"></app-button>


<!--El usuario se registra correctamente-->
<app-login-popup *ngIf="popup == 'success'" [type]="type"></app-login-popup>

<!--El usuario ya se encuentra registrado-->
<app-error-popup *ngIf="popup == 'alreadyExists'" text="El mail ya se encuentra registrado" textAux="Por favor inicie sesión" [closePopup]="close.bind(this)"></app-error-popup>

<!--Las contraseñas no coinciden-->
<app-error-popup *ngIf="popup == 'wrongPassword'" text="Las contraseñas no coinciden" textAux="Por favor ingrese su contraseña deseada nuevamente en ambos campos" [closePopup]="close.bind(this)"></app-error-popup>

<!--Formato de E-Mail inválido-->
<app-error-popup *ngIf="popup == 'badEmail'" text="Formato de E-Mail inválido" textAux="Por favor ingrese su mail nuevamente" [closePopup]="close.bind(this)"></app-error-popup>

<!--Formato de Teléfono inválido-->
<app-error-popup *ngIf="popup == 'badTelefono'" text="Formato de teléfono inválido" textAux="Por favor ingrese un número de teléfono válido" [closePopup]="close.bind(this)"></app-error-popup>
