:host {
    width: 100%;
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}  

.agregar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 70%;
    justify-content: center;
    margin-bottom: 20px;
}

.agregar#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #000447;
}

.agregar app-button {
    width: 100%;
}

.carrusel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*gap: 10px;*/
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;
}
  
.carrusel-viewport {
    width: 100%; /* 3 imágenes * 270px (250 + 2*10px margen) */
    overflow: hidden;
}
  
.carrusel-track {
    display: flex;
    transition: transform 1.2s ease-in-out;
}
  
.carrusel-item {
    flex: 0 0 calc((100% / 3) - 20px);
    margin: 0 -15px; /* negativo para que se monten un poco */
    opacity: 0.75;
    transform: scale(0.85);
    transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
    position: relative;
    z-index: 1;
}
  
.carrusel-item img {
    width: 50%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.5s ease;
}
  
.center {
    opacity: 1;
    transform: scale(1.1);
    z-index: 10;
    margin: 0 0; /* anula margen negativo para que quede arriba */
    /*box-shadow: 0 8px 15px rgba(0,0,0,0.3);*/
    border-radius: 12px;
    /* opcional: levantar un poco */
    top: -10px;
    position: relative;
}
  
.center:hover img {
    transform: scale(1.05);
}
  
.arrow {
    font-size: 60px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    z-index: 30;
}

.arrow.left {
    left: 15px;
}

.arrow.right {
    right: 15px;
}

.card {
    width: calc(50% - 40px - 25px);
    justify-content: center;
}

/* Para pantallas de tabletas (mínimo 600px y máximo 1024px de ancho) */
@media (max-width: 1024px) {
    img {
        width: 65%;
    }
}
  
/* Para pantallas de móviles (máximo 600px de ancho) */
@media (max-width: 600px) {
    img {
        width: 80%;
        margin-top: 100px;
    }
}